<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Controle Academico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button routerLink="/inicio" tab="Inicio">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/notas" tab="Calendario">
        <ion-icon name="calculator-outline"></ion-icon>
        <ion-label>Notas</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/calendario" tab="Calendario">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Calendário</ion-label>
      </ion-tab-button>

      

      <ion-tab-button  tab="Sair">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
