<ion-header>
  
  <ion-toolbar>

    <ion-buttons >
    <ion-back-button defaultHref="/" text="Voltar"></ion-back-button>
  </ion-buttons>
  
    <ion-title class="ion-text-center">Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button routerLink="/inicio" tab="Inicio">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      
      <ion-tab-button routerLink="/calendario" tab="Calendario">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Calendário</ion-label>
      </ion-tab-button>

      <ion-tab-button  tab="Sair">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>
